<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
        <a class="nav-link" href="/listings/new">Airbnb your home</a>

      </div>
      <div class="search ms-auto">
        <div class="input">
          <input type="text" name="" id="" placeholder="Search destinations">
          <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>

      </div>
      <div class="navbar-nav ms-auto">
        <%if (!currUser) { %>
          <span class="btn  mb-3 auth-btn signup"> <a class="nav-link " aria-current="page"
              href="/signup">SignUp</a></span>
          <span class="btn  mb-3  login"><a class="nav-link" href="/login">Log <span
                style="color:#fe424d  ;">In</span></a></span>
          <% } %>
            <%if (currUser) { %>
              <span class="btn btn-dark mb-3 auth-btn"> <a class="nav-link" href="/logout">LogOut</a></span>
              <% } %>
      </div>
    </div>
  </div>
</nav>