<% layout('/layouts/boilerplate') %>
    <div class="row">
        <div class="col col-8 offset-2">

            <body>
                <br><br>
                <div class="new-div">
                    <h3>Creating New List</h3>
                </div>
                <br><br>
                <form method="post" action="/listings">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" name="listing[title]" placeholder="Enter Title">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" class="form-control" name="listing[description]" rows="10" cols="40"
                            placeholder="enter description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input type="text" class="form-control" name="listing[image]" placeholder="enter img URL/link">
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" name="listing[price]" placeholder="enter price">
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" name="listing[location]" placeholder="enter location">
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" class="form-control" name="listing[country]" placeholder="enter country">
                    </div>
                    <button class="mb-3 btn btn-dark new-btn">ADD</button>
                </form>
            </body>
        </div>
    </div>