<% layout('/layouts/boilerplate') %>

    <body>
        <h3>Creating new list</h3>
        <form method="post" action="/listings">
            <input type="text" name="listing[title]" placeholder="enter title">
            <br>
            <textarea type="text" name="listing[description]" rows="10" cols="40"
                placeholder="enter description"></textarea>
            <br>
            <input type="text" name="listing[image]" placeholder="enter img URL/link">
            <br>
            <input type="number" name="listing[price]" placeholder="enter price">
            <br>
            <input type="text" name="listing[location]" placeholder="enter location">
            <br>
            <input type="text" name="listing[country]" placeholder="enter country">
            <br>
            <button>ADD</button>
        </form>
    </body>