<% layout('/layouts/boilerplate') %>

    <div class="row">
        <h1 class="col-6 offset-3 mt-3"><b>SignUp on <span style="color:#fe424d">WounderLust</span></b></h1>
        <div class="col col-6 offset-3 mt-3">
            <form action="/signup" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">username</label>
                    <input type="text" id="username" class="form-control" name="username" placeholder="Enter username"
                        required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" class="form-control" name="email" placeholder="Enter email" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" class="form-control" name="passowrd" placeholder="Enter Title"
                        required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <button class="mb-3 btn btn-dark new-btn">SignUp</button>
            </form>
        </div>
    </div>